@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        @apply font-[Poppins]
    }

    li {
        @apply p-4 text-sm
    }

    button {
        @apply px-4 py-2 bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
    }

    h2 {
        @apply text-xl font-bold
    }
}